@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,200&display=swap');

p{
    color: blue;
    background-color: blueviolet;
    
}
h1{
    padding: 10%;
    margin: 20%;
    box-sizing: border-box;
    border-color: brown;
    text-align: center;
    box-shadow: inset;
    
}